# <!> This is an example configuration file. You should edit this file and rename it to config.env

###############################
####### React app config ######
###############################

# Base path for estate pictures (local path or remote URL)
REACT_APP_BASE_IMAGE_URL=https://storage.googleapis.com/<your bucket_name>/images
#or
REACT_APP_BASE_IMAGE_URL=~/images