# <!> This is an example configuration file. You should edit this file and rename it to config.env

###############################
### Download routine config ###
###############################

# Estate metadata will be saved to this db
MONGODB_URL=mongodb://localhost:27017
MONGODB_DATABASE=immoweb

# Where estate pictures should be saved ? 'gcloud' or 'local', or both with 'gcloud, local'
IMAGE_DESTINATION=local

# If local, path on the filesystem
IMAGE_OUTPUT_PATH=~/immoweb-keeper/photos

# If gcloud, Google Cloud Storage connection information
#GCLOUD_KEY_PATH=routine/<path to the json file>.json
#GCLOUD_BUCKET_NAME=<your bucket name>
#GCLOUD_OUTPUT_PATH=images

###############################
######## Server config ########
###############################

# React app should use that port number to connect (only relevant for development)
PORT=5000

# JSON Web Token secret (should be a random string)
JWT_SECRET=<any random string>

# Folder from where to serve static assets (only if routine ran with IMAGE_DESTINATION=local)
SHOULD_SERVE_IMAGES=true
IMAGE_SOURCE_PATH=../routine/images